@import 'normalize.css';

html,
body {
  background-color: #f5f7f0;
  color: #303229;
  font-family: 'Chivo', sans-serif;
}

main {
  padding-bottom: 3rem;
}

b,
strong {
  font-weight: 700;
}

a,
.upload-dropzone label {
  box-shadow: inset 0 0 0 rgba(5, 121, 202, 0.13);
  color: #0579ca;
  cursor: pointer;
  text-decoration: underline;
  transition: 0.1s ease;
}

a:hover,
a:focus,
.upload-dropzone label:hover,
.upload-dropzone label:focus {
  box-shadow: inset 0 -0.8rem 0 rgba(5, 121, 202, 0.13);
}

.no-js .needs-js {
  display: none;
  visibility: hidden;
}

.js-available .js-hidden {
  display: none;
  visibility: hidden;
}

.js-available .upload-input {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

[role='banner'] {
  padding: 1rem;
  text-align: center;
}

.banner-title {
  display: inline-block;
  font-size: 1rem;
  margin: 0;
  position: relative;
}

.banner-title::after {
  background-color: #42ff00;
  border-radius: 8em;
  content: '';
  display: inline-block;
  height: 1.4em;
  position: absolute;
  right: -0.4em;
  opacity: 0.25;
  top: -0.2em;
  width: 1.4em;
  z-index: 0;
}

main {
  margin: 0 auto;
  width: 95%;
}

.home-upload {
  background-color: #fefefd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  font-size: 1.4rem;
  margin: 0 auto;
  max-width: 30em;
  padding: 1rem;
  position: relative;
  text-align: center;
}

.upload-working {
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  display: none;
  font-size: 1rem;
  font-weight: 700;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

@keyframes rotate {
  to {
    transform: rotate(720deg);
  }
}

.working-icon {
  animation: rotate 2s infinite alternate;
  display: block;
  fill: #303229;
  height: 30px;
  margin: 0 auto 1rem auto;
  width: 30px;
}

.is-uploading .upload-working {
  display: flex;
}

.upload-dropzone {
  border: 2px dashed #dce1cf;
  box-sizing: border-box;
  line-height: 1.4;
  padding: 3rem 0.5rem 4rem 0.5rem;
  margin: 0;
  position: relative;
  transition: 0.1s ease;
}

.dropzone-icon {
  display: block;
  fill: #dce1cf;
  height: 110px;
  margin: 0 auto;
  width: 110px;
  transition: 0.1s ease;
}

.error-msg {
  background-color: red;
  box-sizing: border-box;
  color: #fff;
  display: none;
  font-size: 0.9rem;
  font-weight: 700;
  left: 0;
  margin: 0;
  padding: 0.8rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.success-msg {
  align-items: center;
  background-color: #29bc00;
  color: #fff;
  display: none;
  height: 100%;
  left: 0;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.is-error .error-msg {
  display: block;
}

.is-success .success-msg {
  display: flex;
}

.is-dragover .upload-dropzone {
  border-color: #0579ca;
}

.is-dragover .dropzone-icon {
  fill: #0579ca;
}

.btn {
  -webkit-appearance: none;
  appearance: none;
  background-color: #1bc000;
  border: 2px solid #1bc000;
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Chivo', sans-serif;
  font-weight: 700;
  padding: 0.8rem 1rem;
  transition: 0.15s ease;
}

.btn:hover,
.btn:focus {
  background-color: #fff;
  border-color: #0579ca;
  color: #0579ca;
}

.btn-upload {
  margin-top: 0.5rem;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  width: 100%;
}

.js-available .btn-hidden {
  display: none;
  opacity: 0;
  transform: translate3d(0, -2rem, 0);
}

.error-page-contents {
  text-align: center;
}

.record-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.record-list-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  font-size: 0.9rem;
}

.record-list-item a {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 10px;
  text-decoration: none;
}

.record-list-item a:hover,
.record-list-item a:focus {
  background-color: rgba(5, 121, 202, 0.1);
}

.record-thumb {
  background-color: #ccc;
  height: 68px;
  flex: 0 0 68px;
  overflow: hidden;
  max-width: 68px;
}

.record-thumb img {
  display: block;
  width: 100%;
}

.record-details {
  box-sizing: border-box;
  flex: 1 1 80%;
  margin-left: 8px;
}

.record-details h3 {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0 0 6px 0;
  padding: 0 8px;
}

.record-list-item-meta {
  display: flex;
  flex-wrap: wrap;
}

.record-list-item-meta p {
  color: #303229;
  font-size: 0.8rem;
  margin: 0 16px 0 0;
  padding: 8px;
}

.record-list-item-meta b {
  display: block;
}

.dataset-list {
  font-size: 0.8rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dataset-list li {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.dataset-list li h4 {
  width: 25%;
}

.dataset-list li h4,
.dataset-list li p {
  box-sizing: border-box;
  margin-right: 16px;
}

.dataset-list li p {
  max-height: 5rem;
  overflow: hidden;
}

.dataset-vr {
  width: 15%;
}

.heading-link {
  font-size: 0.8rem;
  font-weight: 400;
}
