{% extends "base.html" %}
{% from "macros.html" import dicom_data_list, upload_icon, working_icon %}

{% block content %}
  <div class="home-upload">
    <form class="upload-form" action="{{ url_for('records_app.upload') }}" method="post" enctype="multipart/form-data">
      <div class="needs-js upload-dropzone">
        <span class="dropzone-icon">{{ upload_icon() }}</span>
        Drag and drop DICOM images here.
        <br><small>or <label for="upload-input">browse</label> to upload.</small>

        <p class="success-msg">
          ✔︎ Uploaded complete
        </p>

        <p class="error-msg">
          There was an error uploading the files. Please try again.
        </p>
      </div>
      <input type="file" name="files" id="upload-input" class="upload-input" multiple>
      <button type="submit" class="btn btn-upload btn-hidden">Upload</button>
    </form>
    <div class="upload-working">
      <p>
        <span class="working-icon">{{ working_icon() }}</span>
        Uploading...
      </p>
    </div>
  </div>

  {% if records %}
  <h4>Records</h4>
  <ul class="record-list">
    {% for record in records %}
    <li class="record-list-item">
      <a href="{{ url_for('records_app.record', record_id=record.id) }}">
        <div class="record-thumb">
          {% if record.image_name %}
          <img src="{{ upload_path }}/{{ record_image_thumb(record.image_name) }}">
          {% endif %}
        </div>

        <div class="record-details">
          <h3>
            Study Instance UID: {{ record.study_uid }}
          </h3>

          <div class="record-list-item-meta">
            <p><b>Manufacturer</b> {{ record.manufacturer.value }}</p>
            <p><b>Modality</b> {{ record.modality.value }}</p>
            <p><b>Uploaded</b> {{ record.created_at }}</p>
            <p><b>Filename</b> {{ record.dicom_name }}</p>
          </div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

{% endblock %}
